$black: #000;
$black100: rgba(16, 16, 29, 0.9);
$white: #fff;
$blue: #3e9cdc;
$blue100: #286690;
$blue300: #43abf0;
$gray: #6f6d7b;
$gray100: #2a2b30;
$gray200: #272733;
$gray300: #bbbbbb;
$gray400: #3d4050;
